https://www.bseindia.com/download/BhavCopy/Equity/EQ230421_CSV.zip

In [3]:
from zipfile import ZipFile
from urllib.request import urlopen, Request
import pandas as pd
import os

URL = 'https://www.bseindia.com/download/BhavCopy/Equity/EQ230421_CSV.zip'
headers = {'User-Agent': 'Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.3'}
# open and save the zip file onto computer
req = Request(url=URL, headers=headers) 
url = urlopen(req)
output = open('zipFile.zip', 'wb')    # note the flag:  "wb"        
output.write(url.read())
output.close()

# read the zip file as a pandas dataframe
df = pd.read_csv('zipFile.zip')   # pandas version 0.18.1 takes zip files

In [4]:
df.shape

(3366, 14)

In [5]:
df.head()

,SC_CODE,SC_NAME,SC_GROUP,SC_TYPE,OPEN,HIGH,LOW,CLOSE,LAST,PREVCLOSE,NO_TRADES,NO_OF_SHRS,NET_TURNOV,TDCLOINDI
0,500002,ABB LTD.,A,Q,1385.15,1394.0,1371.20,1381.65,1381.65,1389.65,421,3259,4521198.0,NaN
1,500003,AEGIS LOGIS,A,Q,285.30,294.2,285.30,290.90,290.80,285.55,854,18641,5422529.0,NaN
2,500008,AMAR RAJA BA,A,Q,800.00,807.9,796.25,800.85,800.85,795.95,800,22831,18283654.0,NaN
3,500009,A.SARABHAI,X,Q,26.40,27.4,24.00,24.45,24.45,25.60,1164,344146,8798362.0,NaN
4,500010,HDFC,A,Q,2459.20,2504.5,2438.00,2497.30,2497.30,2479.30,9034,221537,549025889.0,NaN

Given a large number n(max 30 digits) and a digit d(ranging from 2 to 9 inclusive) divide the given number in to a and b such that a+b = n and a,b should not contain given digit 'd'.